#walrus-showing {
  display: none;
}

#walrus2 {
  display: none;
}

#otter {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}