#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.know {
  cursor: pointer;
  color: #0088cc;
}

.know:hover {
  text-decoration: underline;
}

#opHide {
  display: none;
}










.green-background {
  background-color: green;
}

.yellow-background {
  background-color: rgb(255, 238, 7);
}

.red-background {
  background-color: red;
}

.darkMode {
  background-color: rgb(65, 65, 65);
  color: white;
}
.col-lrg-4 {
  margin: 10px;
  border: 3px solid black;
  width: 30%;
  padding: 5px;
}
