#walrus-showing {
  display: none;
}

#walrus2 {
  display: none;
}

#otter {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.darkMode {
  background-color: rgb(65, 65, 65);
  color: white;
}
.col-lrg-4 {
  margin: 10px;
  border: 3px solid black;
  width: 200px;
  padding: 5px;
}
.col-lrg-4 p {
  display: none;
}