#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.know {
  cursor: pointer;
  text-align: center;
}

.know:hover {
  text-decoration: underline;
}
.know2 {
  cursor: pointer;
  text-align: center;
}

.know2:hover {
  text-decoration: underline;
}
.know3 {
  cursor: pointer;
  text-align: center;
}

.know3:hover {
  text-decoration: underline;
}
.know4 {
  cursor: pointer;
  text-align: center;
}

.know4:hover {
  text-decoration: underline;
}
.know5 {
  cursor: pointer;
  text-align: center;
}

.know5:hover {
  text-decoration: underline;
}
.know6 {
  cursor: pointer;
  text-align: center;
}

.know6:hover {
  text-decoration: underline;
}

#opHide {
  display: none;
}
#varHide {
  display: none;
}
#metHide {
  display: none;
}
#arguHide {
  display: none;
}
#paraHide {
  display: none;
}
#retuHide {
  display: none;
}







.green-background {
  background-color: green;
}

.yellow-background {
  background-color: rgb(255, 238, 7);
}

.red-background {
  background-color: red;
}

.darkMode {
  background-color: rgb(65, 65, 65);
  color: white;
}
.col-lrg-4 {
  margin: 10px;
  border: 3px solid black;
  width: 30%;
  padding: 5px;
}
